[Unit]
Description=contrail-query-engine
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=cloud
ExecStart=/home/cloud/.nix-profile/bin/contrail-query-engine /etc/contrail/contrail-query-engine.conf

[Install]
WantedBy=multi-user.target

